*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2{

    font-size: 45px;
    font-size: 900;


}
.color-orenge{
    
color: #FD6E0A;

}





.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
 
    background-color:#FFF8F3 ;
    padding-top: 50px;
}
nav{
    width: 71%;
    max: width 1140PX; ;
   /* border: 1px solid red; */
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}
nav .menu{
display: flex;
list-style-type: none;
gap: 51px;
align-items: center;

}
nav .menu a{
font-size: 20px;
color: #474747;
text-decoration:none;
align-items: center;

}
.btn{
background-color: #FD6E0A;
border: none;
padding: 18px 35px;
border-radius: 5px;
font-size: 20px;
color: white;

}